<div class="row row-eq-height">
  <div class="col-lg-6">
    <nb-card class="mb-0 h-100" [hidden]="loading || apiResponse">
      <nb-card-header>Upload a photo</nb-card-header>

      <nb-card-body class="h-100 d-flex justify-content-center align-items-center">
        <input #uploadInput type="file" accept="image/jpeg, image/png, image/gif" (change)="onFileChange($event)">
        <button *ngIf="!this.selectedImage" nbButton (click)="onChooseFile($event)" title="Choose File">Choose File
        </button>

        <button *ngIf="this.selectedImage" nbButton (click)="onRemoveFile($event)" status="danger" title="Remove File">
          Remove {{this.selectedImage.name}}</button>

      </nb-card-body>

      <nb-card-footer>
        <button nbButton status="primary" (click)="stylize($event)" [nbSpinner]="loading"
                [disabled]="!selectedImage || loading" title="Stylize">
          <nb-icon icon="brush"></nb-icon>
          Stylize
        </button>
      </nb-card-footer>
    </nb-card>
  </div>


  <div *ngIf="loading || apiResponse" class="col-lg-6">
    <nb-card class="mb-0 h-100" [nbSpinner]="loading">
      <nb-card-header>Your styled photo</nb-card-header>

      <img #styledImage class="styled-image" *ngIf="apiResponse" [src]="apiResponse.data.styledImageUrl"
           alt="Picture taken with the webcam">
      <nb-card-body *ngIf="loading">
        <div #styledImageEmpty></div>
      </nb-card-body>

      <nb-card-footer>
        <button nbButton status="primary" (click)="download($event)" title="Download" class="mr-3">
          <nb-icon icon="download"></nb-icon>
        </button>

        <button *ngIf="hasShareFeature" nbButton status="success" (click)="share($event)" title="Share" class="mr-3">
          <nb-icon icon="share"></nb-icon>
        </button>

        <button nbButton status="danger" (click)="cancel($event)" title="Cancel">
          <nb-icon icon="close"></nb-icon>
        </button>

      </nb-card-footer>
    </nb-card>
  </div>
</div>
