<div *ngFor="let style of styles$ | async"
     (click)="selectStyle(style.id)"
     class="style"
     [ngClass]="{'selected': style === (activeStyle$ | async)}"
     [ngStyle]="{backgroundImage: 'url(assets/styles/'+ style.styleImage + ')'}">
  <div class="style-name">
    <h6>
      <span class="badge badge-primary text-left d-block" *ngIf="!style.metaData.attribution.name">{{style.name.split('_').join(' ')  | titlecase}}</span>
      <span class="badge badge-primary text-left d-block" *ngIf="style.metaData.attribution.name">
        {{style.metaData.attribution.name}}<br />
        <small><a target="_blank" [href]="style.metaData.attribution.authorUrl">{{style.metaData.attribution.author}}</a></small><br />
        <small><a target="_blank" [href]="style.metaData.attribution.publisher">{{style.metaData.attribution.publisherUrl}}</a></small>
      </span>
    </h6>
  </div>

  <div class="style-wrapper"></div>
</div>
